.sections{
    padding-left: 4vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 24px;
    font-family: Georgia;
    text-decoration: underline;
}

.content{
    padding-left: 8vw;
    font-size: 18px;
    font-family: Georgia;
}

table{
    min-width: 80vw;
    max-width: 92vw;
}

.th, .td{
    border: 2px solid black;
    padding: 4px;
}

.informationRow:hover{
    background-color: #c2e7ff;
}

.businessCard{
    width: 80vw;
    border: 8px solid #6ac0f7;
    background-color: #c2e7ff;
    min-height: 10vh;

}

